@import 'variables/variables';

.featured_collection_object {
	.block {
		h3.title {
			display: none;
		}
	}
}

.pld_featured_objects__rand_obj__wrapper {
	background-size: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #000;
	height: calc(100vh - 286px);
	width: 100%;
	margin-bottom: -1rem;
	z-index: 1;

	.view-all-collections {
		color: #fff;
		font-size: 1.2rem;
		position: absolute;
		bottom: .5rem;
		transition: all .3s ease-in-out;
		cursor: pointer;
		&:hover {
			color: $seafoam;

			.dwn-caret {
				border: solid thin $seafoam;
			}
		}

		.dwn-caret {
			width: 60px;
			height: 60px;
			border: solid thin #fff;
			border-radius: 50%;
			text-align: center;
			padding-top: .25rem;
			font-size: 3rem;
			margin: .5rem auto;
			transition: all .3s ease-in-out;
		}
	}

	.rand-obj__overlay {
		@include linear-gradient(45deg, rgba($orange, .3) 10%, rgba(transparent, .6) 80%);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
	}

	.rand-obj__info {
		background: rgba(#000, .67);
		padding: 1rem 2rem;
		position: absolute;
		top: 75%;
		left:1rem;
		border-radius: 10px;

		h3 {
			font-size: 1.8rem;
			color: #fff;
			border-bottom: solid thin #fff;
			margin-bottom: 1rem;
		}

		.rand-obj__data {
			font-size: 1.2rem;
			color: $orange;
			a {
				color: #fff;
				font-weight: 700;
				text-transform: capitalize;
				display: inline-block;
				margin-left: .5rem;
			}
			&:before {
				content:"";
				display:block;
				clear:both;
			}
			&:after {
				content:"";
				display:block;
				clear:both;
			}
		}

		.view_obj {
			@include btn;
			margin:1rem 0;
			max-width: 150px;
		}
	}
}